# Lab for module 3 lesson 3

Topics covered
- Sampling and its types
- Hypothesis Testing

**Problem Statement & Data Description**

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answer to different questions asked by company officials.

In [7]:
#reading the data, libraries
import pandas as pd
import warnings
# Use the warning filter context manager to temporarily suppress warnings
warnings.filterwarnings("ignore")

sales = pd.read_csv('sales_data.csv')
cust = pd.read_csv(r'customers.csv',encoding='iso-8859-1')
vend = pd.read_csv(r'vendors.csv')

In [8]:
sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

### Q1. Create a sample of size 5 from each sub-category.

In [9]:
# write your code here
n_obs=5
sales.groupby('category',group_keys=True).apply(lambda x:x.sample(min(len(x),n_obs)))
# sales.groupby('category',group_keys=True).apply(lambda x:x.sample(n=n_obs))

                       row_id         order_id  order_date   ship_date  \
category
Furniture       15633   15634  IT-2012-1204965  19/01/2012  23/01/2012
                9975     9976   US-2014-131954  21/11/2014  23/11/2014
                23106   23107    ID-2013-76849  15/05/2013  17/05/2013
                8814     8815   MX-2014-137323  09/06/2014  14/06/2014
                26176   26177    IN-2011-77479  25/08/2011  27/08/2011
Office Supplies 47918   47919     NI-2012-2810  19/06/2012  22/06/2012
                38938   38939   US-2013-157490  07/10/2013  08/10/2013
                3812     3813   MX-2012-123715  03/12/2012  07/12/2012
                45877   45878     CA-2014-4720  18/06/2014  23/06/2014
                7769     7770   MX-2014-152114  16/06/2014  21/06/2014
Technology      20045   20046  ES-2013-3575875  25/07/2013  30/07/2013
                16486   16487  ES-2013-5648133  06/05/2013  11/05/2013
                28338   28339    IN-2011-44761  20/10/2011  24/10/2011
                16024   16025  ES-2014-2296898  03/12/2014  05/12/2014
                3264     3265   MX-2013-142734  24/10/2013  30/10/2013

                            ship_mode customer_id        product_id  \
category
Furniture       15633  Standard Class    TS-21610   FUR-TA-10003273
                9975      First Class    DL-13315   FUR-FU-10000110
                23106    Second Class    MZ-17515   FUR-FU-10003414
                8814   Standard Class    PP-18955   FUR-CH-10001675
                26176    Second Class    CW-11905   FUR-CH-10004163
Office Supplies 47918    Second Class     DL-3495  OFF-KIT-10003757
                38938     First Class    LB-16795   OFF-BI-10002824
                3812   Standard Class    LW-17215   OFF-SU-10001923
                45877  Standard Class     NC-8340  OFF-WIL-10002947
                7769   Standard Class    BM-11650   OFF-SU-10002032
Technology      20045  Standard Class    PS-19045   TEC-CO-10003525
                16486  Standard Class    DB-13360   TEC-AC-10004880
                28338  Standard Class    EM-14140   TEC-MA-10003170
                16024    Second Class    SJ-20215   TEC-MA-10003280
                3264   Standard Class    CH-12070   TEC-CO-10002657

                              category sub_category  \
category
Furniture       15633        Furniture       Tables
                9975         Furniture  Furnishings
                23106        Furniture  Furnishings
                8814         Furniture       Chairs
                26176        Furniture       Chairs
Office Supplies 47918  Office Supplies   Appliances
                38938  Office Supplies      Binders
                3812   Office Supplies     Supplies
                45877  Office Supplies      Binders
                7769   Office Supplies     Supplies
Technology      20045       Technology      Copiers
                16486       Technology  Accessories
                28338       Technology     Machines
                16024       Technology     Machines
                3264        Technology      Copiers

                                                      product_name      sales  \
category
Furniture       15633            Lesro Training Table, Rectangular  239.73300
                9975                    Deflect-O Door Stop, Black   70.32000
                23106                        Tenex Clock, Duo Pack  220.35780
                8814   Office Star Steel Folding Chair, Adjustable  188.40000
                26176      Novimex Steel Folding Chair, Adjustable  423.60000
Office Supplies 47918                 KitchenAid Refrigerator, Red  316.76400
                38938                  Recycled Easel Ring Binders   17.90400
                3812             Kleencut Letter Opener, Easy Grip   57.36000
                45877                Wilson Jones Index Tab, Clear    5.91000
                7769                  Stiletto Scissors, Easy Grip   33.64000
Technology      20045                             Sharp Ink, Color  106.97250
                16486              Logitech Keyboard, Programmable  147.90000
                28338                  Konica Calculator, Wireless  171.41160
                16024             Panasonic Receipt Printer, White  715.86000
                3264                Canon Copy Machine, High-Speed  346.42576

                       quantity  discount     profit  shipping_cost  \
category
Furniture       15633         3     0.700 -535.43700          15.90
                9975          4     0.400  -46.88000           3.94
                23106         6     0.270   36.21780          24.62
                8814          3     0.000   37.68000          21.14
                26176         5     0.000   84.60000          47.43
Office Supplies 47918         2     0.700 -654.69600          55.27
                38938         4     0.700  -14.92000           2.83
                3812          3     0.000   14.88000           2.63
                45877         1     0.000    0.51000           0.91
                7769          2     0.000   10.76000           1.48
Technology      20045         1     0.150   40.25250           0.19
                16486         2     0.000   14.76000           6.14
                28338         4     0.170   64.01160          12.65
                16024         6     0.000  250.38000          74.75
                3264          2     0.002   93.02576          21.73

                      order_priority vendor_code
category
Furniture       15633         Medium      VE_023
                9975          Medium      VE_002
                23106           High      VE_039
                8814            High      VE_002
                26176           High      VE_054
Office Supplies 47918           High      VE_021
                38938           High      VE_006
                3812          Medium      VE_004
                45877           High      VE_039
                7769          Medium      VE_001
Technology      20045         Medium      VE_020
                16486         Medium      VE_019
                28338         Medium      VE_041
                16024         Medium      VE_020
                3264          Medium      VE_010

### Q2. Draw 2 stratified samples wrto product category.

In [12]:
# write your code here
# Q.2:-
from sklearn.model_selection import train_test_split
sample1, sample2 = train_test_split(sales, test_size = 0.1, stratify = sales['category'], random_state = 1)
print(sample1.head(2))
print("***")
print("******** Sample 2 **************")
print("***")
print(sample2.head(2))

       row_id         order_id  order_date   ship_date       ship_mode  \
18990   18991  IT-2011-1298611  17/08/2011  22/08/2011  Standard Class
50842   50843     NI-2012-9410  21/11/2012  26/11/2012    Second Class

      customer_id        product_id   category sub_category  \
18990    DL-13315   FUR-BO-10000279  Furniture    Bookcases
50842     LS-7245  FUR-NOV-10003754  Furniture       Chairs

                            product_name     sales  quantity  discount  \
18990       Dania Classic Bookcase, Pine  1648.440         8       0.5
50842  Novimex Rocking Chair, Set of Two   240.624         6       0.7

        profit  shipping_cost order_priority vendor_code
18990 -626.520         157.46         Medium      VE_028
50842 -473.256          24.00         Medium      VE_063
***
******** Sample 2 **************
***
       row_id         order_id  order_date   ship_date       ship_mode  \
33240   33241   CA-2013-108581  21/06/2013  27/06/2013  Standard Class
15973   15974  ES-2013-3422294  07/09/2013  12/09/2013    Second Class

      customer_id       product_id         category sub_category  \
33240    EA-14035  TEC-AC-10001109       Technology  Accessories
15973    DB-13060  OFF-AR-10000594  Office Supplies          Art

                                   product_name   sales  quantity  discount  \
33240            Logitech Trackman Marble Mouse  95.968         4       0.2
15973  Binney & Smith Highlighters, Water Color  19.770         2       0.5

        profit  shipping_cost order_priority vendor_code
33240  26.3912           6.92         Medium      VE_008
15973  -3.2100           1.25         Medium      VE_017

###  Q3. As a data analyst ,you have been tasked with assessing the effectiveness of a recent sales promotion campaign for the "Office Supplies" category. Previously ,It was found that average sales for the entire data was 140. The goal is to determine whether the average sales during the promotion period is significantly different from a 140 or not 
*(You can take the sales for Office Supplies from sales data as your sample , consider level of significance to be 5%).*

* Formulate the hypothesis.
* Suggest which test to be used 
* Find out p-value.
* Make a decision.

In [13]:
# write your code here
# Q.3:-
from statsmodels.stats import weightstats as wst

#predefined_target
pop_sales=140

print(f'Null Hypothesis (H0): Average sales for the Office Supplies is {pop_sales}')
print(f'Alternative Hypothesis (H1): Average sales for the Office Supplies is not {pop_sales}')

alpha=0.05

#take a data where Product category is Office Supplies
df=sales[sales['category']=='Office Supplies']

Null Hypothesis (H0): Average sales for the Office Supplies is 140
Alternative Hypothesis (H1): Average sales for the Office Supplies is not 140

In [14]:
z_stat, p_value = wst.ztest(df['sales'],value=pop_sales)

print(f'Test_statistic value is : {round(z_stat,4)}, p-value is : {round(p_value,4)}')

if p_value <= alpha:
    print(f'Final Conclusion: Reject the null hypothesis')
else:
    print(f'Final Conclusion: Do not reject the null hypothesis')

Test_statistic value is : -11.168, p-value is : 0.0
Final Conclusion: Reject the null hypothesis

###  Q4. After you have succesfuly tested for sales ,business team has given you next task. You have been asked to analyze profitability for two subcategories, "Accessories" and "Arts" during the month of October 2011. The goal is to determine whether there is a significant difference in the mean profits between these two subcategories or not ?
*(You can take the profit for sub-categories "Accessories" and "Arts" from sales data with order date in Oct 2011 as your sample , consider level of significance to be 5%).*

* Formulate the hypothesis.
* Suggest which test to be used 
* Find out p-value.
* Make a decision.

In [21]:
# write your code here
# Q.4:-
# Converting the order date into datetime foramt.
sales['order_date']=pd.to_datetime(sales['order_date'],format='%d/%m/%Y')
# Aggregating the profits on on sub-category & order date level
grouped_sales=sales.groupby(['sub_category','order_date'])['profit'].sum().unstack().T
# Filtering data for sub-categories Accessories & Art
grouped_sales=grouped_sales[['Accessories','Art']]
grouped_sales.reset_index(inplace=True)
### Filtering data for month of October
grouped_sales=grouped_sales[grouped_sales['order_date'].between('2011-10-01','2011-10-31')]
grouped_sales.sort_values('order_date',ascending=True)
print(grouped_sales.shape)
grouped_sales

(30, 3)

sub_category order_date  Accessories       Art
261          2011-10-01     406.5600       NaN
262          2011-10-02      -0.0895       NaN
263          2011-10-03       1.8078   92.5032
264          2011-10-04     -10.5520   40.0800
265          2011-10-05      64.1770  151.6400
266          2011-10-06     457.0809   11.2500
267          2011-10-07     121.6200   38.6320
268          2011-10-08       4.9878    7.6188
269          2011-10-09          NaN   41.9340
270          2011-10-10     158.1600  118.4460
271          2011-10-11     158.1500 -115.8300
272          2011-10-12          NaN   72.0520
273          2011-10-13      16.9004    4.5636
274          2011-10-14      99.9300   85.8600
275          2011-10-15          NaN   39.6200
276          2011-10-16     152.3056       NaN
277          2011-10-17     -26.2204       NaN
278          2011-10-18          NaN       NaN
279          2011-10-19          NaN    5.3260
280          2011-10-20      94.8328   79.5000
281          2011-10-21          NaN   97.6454
282          2011-10-22          NaN   32.0160
283          2011-10-24          NaN       NaN
284          2011-10-25     210.5297   11.7000
285          2011-10-26    -220.5480   -3.4560
286          2011-10-27     102.9798   35.4600
287          2011-10-28          NaN   12.6060
288          2011-10-29       0.8910       NaN
289          2011-10-30          NaN       NaN
290          2011-10-31      47.8629   69.2920

In [22]:
# Example paired data (before and after treatment)
Accessories = list(grouped_sales['Accessories'].dropna())
print(len(Accessories))
Art = list(grouped_sales['Art'].dropna())
print(len(Art))

20
22

In [23]:
import scipy.stats as stats


# Perform a paired t-test
t_statistic, p_value = stats.ttest_ind(Accessories, Art)

# Set the significance level (alpha)
alpha = 0.05



# Print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Check if the p-value is less than alpha
if p_value < alpha:
    print("Reject the null hypothesis i.e Average profits of the *Accessories* and *Art* are not same")
else:
    print("Fail to Reject the null hypothesis i.e Average profits of the *Accessories* and *Art* are same")

t-statistic: 1.4656766629009634
p-value: 0.15055370184801065
Fail to Reject the null hypothesis i.e Average profits of the *Accessories* and *Art* are same

### Q.5 Business team has recieved few feedbacks for product categories 'Furniture' & 'Technology'. When they did further analysis they found that most feedbacks are coming for the orders where shipping modes were 'Same Day' & 'Second Class'. They are interested to see if there exists any association between product categories ('Furniture' & 'Technology') & Shipping modes ('Same Day' & 'Second Class')?

*Consider level of significance to be 5%.*

* Formulate the hypothesis.
* Suggest which test to be used 
* Find out p-value.
* Make a decision.

In [26]:
# write your code here
#create a contingency table : 
sales_filter=sales[(sales['category'].isin(['Furniture','Technology'])) & (sales['ship_mode'].isin(['Second Class','Same Day']))] 
obs=pd.crosstab(sales_filter['category'],sales_filter['ship_mode'])
obs

ship_mode   Same Day  Second Class
category
Furniture        493          1901
Technology       508          1975

In [27]:
sales_filter.head(2)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
21,22,MX-2013-163139,2013-10-29,02/11/2013,Second Class,TB-21055,TEC-AC-10002749,Technology,Accessories,"Enermax Mouse, USB",27.00,1,0.0,5.94,3.90,High,VE_010
37,38,MX-2014-154739,2014-07-04,07/07/2014,Second Class,SC-20440,FUR-TA-10004531,Furniture,Tables,"Chromcraft Coffee Table, Rectangular",529.32,3,0.0,264.66,94.28,High,VE_012

In [28]:
sales_filter[['category','ship_mode']]

         category     ship_mode
21     Technology  Second Class
37      Furniture  Second Class
38      Furniture  Second Class
41     Technology  Second Class
51     Technology  Second Class
...           ...           ...
51259  Technology  Second Class
51275  Technology      Same Day
51279   Furniture  Second Class
51280  Technology  Second Class
51283   Furniture  Second Class

[4877 rows x 2 columns]

In [29]:
from scipy.stats import chi2_contingency,chisquare

print('Null Hypothesis (H0): There is no relationship between Selected product category and Selected Ship mode. (independent)')
print('Alternative Hypothesis (H1): There is a relatinoship between Selected product category and Selected Ship mode. (dependent)')


chi_sq_Stat, p_value, deg_freedom, exp_freq=chi2_contingency(obs)

print(f'Test_statistic value is : {round(chi_sq_Stat,4)}, p-value is : {round(p_value,4)}')

alpha= 0.05
if p_value < alpha:
    print(f'Final Conclusion: Reject null hypothesis i.e there exists a relationship /association between 2 variables.')
else:
    print(f'Final Conclusion: Do not reject null hypothesis.  i.e there doesnt exists a relationship /association between 2 variables.')

Null Hypothesis (H0): There is no relationship between Selected product category and Selected Ship mode. (independent)
Alternative Hypothesis (H1): There is a relatinoship between Selected product category and Selected Ship mode. (dependent)
Test_statistic value is : 0.0065, p-value is : 0.9359
Final Conclusion: Do not reject null hypothesis.  i.e there doesnt exists a relationship /association between 2 variables.

# Solutions

In [8]:
# Q.1.:-
n_obs=5
sales.groupby('category',group_keys=False).apply(lambda x:x.sample(min(len(x),n_obs)))

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
18137,18138,IT-2011-1765076,15/03/2011,15/03/2011,Same Day,RE-19405,FUR-CH-10004040,Furniture,Chairs,"Office Star Steel Folding Chair, Set of Two",253.692,3,0.10,73.2420,34.99,High,VE_017
47389,47390,IZ-2012-1750,25/10/2012,29/10/2012,Standard Class,JE-5715,FUR-ADV-10001855,Furniture,Furnishings,"Advantus Stacking Tray, Durable",26.370,1,0.00,7.1100,4.23,High,VE_031
41004,41005,CA-2013-161746,22/10/2013,28/10/2013,Standard Class,CS-11950,FUR-FU-10003731,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,19.960,2,0.00,5.5888,0.60,Medium,VE_009
38976,38977,CA-2011-133592,31/12/2011,07/01/2012,Standard Class,KM-16375,FUR-BO-10000362,Furniture,Bookcases,Sauder Inglewood Library Bookcases,341.960,2,0.00,78.6508,12.28,Low,VE_012
29962,29963,IN-2011-45048,18/08/2011,22/08/2011,Standard Class,SJ-20500,FUR-BO-10001753,Furniture,Bookcases,"Dania Stackable Bookrack, Traditional",605.250,5,0.00,266.2500,56.38,Medium,VE_039
43303,43304,SF-2013-5940,15/08/2013,20/08/2013,NaN,DB-3060,OFF-SME-10004110,Office Supplies,Labels,"Smead Color Coded Labels, Alphabetical",25.740,2,0.00,10.8000,1.63,Medium,VE_062
17107,17108,IT-2014-2810229,17/04/2014,21/04/2014,Standard Class,AJ-10795,OFF-ST-10001460,Office Supplies,Storage,"Smead Trays, Industrial",352.512,8,0.10,89.9520,54.96,High,VE_027
34692,34693,US-2014-148362,02/07/2014,09/07/2014,Standard Class,KF-16285,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,169.990,1,0.00,78.1954,6.30,Medium,VE_016
26088,26089,ID-2013-11777,19/12/2013,26/12/2013,Standard Class,PF-19165,OFF-AR-10001770,Office Supplies,Art,"Binney & Smith Markers, Water Color",40.905,3,0.50,-6.6150,4.33,Medium,VE_045
7865,7866,MX-2012-166751,24/10/2012,29/10/2012,Standard Class,AJ-10780,OFF-AR-10001752,Office Supplies,Art,"Binney & Smith Pens, Blue",23.880,3,0.00,1.3800,3.38,Medium,VE_006
6651,6652,MX-2014-129686,27/03/2014,01/04/2014,Standard Class,DL-12865,TEC-AC-10004043,Technology,Accessories,"Memorex Numeric Keypad, Erganomic",56.052,3,0.40,-0.0480,4.11,Medium,VE_008
11400,11401,ES-2013-1205816,11/11/2013,16/11/2013,Standard Class,SO-20335,TEC-AC-10002900,Technology,Accessories,"Belkin Mouse, Programmable",211.050,5,0.00,37.9500,11.17,Medium,VE_024
46644,46645,ML-2013-2850,18/04/2013,22/04/2013,Second Class,CC-2220,TEC-KON-10003211,Technology,Machines,"Konica Inkjet, White",621.180,2,0.00,236.0400,29.14,Medium,VE_022
17998,17999,ES-2013-4987734,30/07/2013,04/08/2013,Second Class,HK-14890,TEC-PH-10003683,Technology,Phones,"Motorola Audio Dock, VoIP",780.570,5,0.10,164.6700,62.83,Medium,VE_024
14140,14141,ES-2012-2376528,07/09/2012,14/09/2012,Standard Class,TH-21100,TEC-CO-10001795,Technology,Copiers,"Sharp Personal Copier, High-Speed",703.290,7,0.15,215.0400,78.38,Medium,VE_024

In [9]:
# Q.2:-
from sklearn.model_selection import train_test_split
sample1, sample2 = train_test_split(sales, test_size = 0.1, stratify = sales['category'], random_state = 1)

In [10]:
print(sample1.shape)
sample1['category'].value_counts(normalize=True)

(46161, 17)

Office Supplies    0.609735
Technology         0.197721
Furniture          0.192543
Name: category, dtype: float64

In [11]:
print(sample2.shape)
sample2['category'].value_counts(normalize=True)

(5129, 17)

Office Supplies    0.609671
Technology         0.197699
Furniture          0.192630
Name: category, dtype: float64

In [12]:
# Q.3:-
from statsmodels.stats import weightstats as wst

#predefined_target
pop_sales=140

print(f'Null Hypothesis (H0): Average sales for the Office Supplies is {pop_sales}')
print(f'Alternative Hypothesis (H1): Average sales for the Office Supplies is not {pop_sales}')

alpha=0.05

#take a data where Product category is Office Supplies
df=sales[sales['category']=='Office Supplies']

Null Hypothesis (H0): Average sales for the Office Supplies is 140
Alternative Hypothesis (H1): Average sales for the Office Supplies is not 140

With a larger sample size and known average population sales we will go ahead with one sample z-test.

In [13]:
z_stat, p_value = wst.ztest(df['sales'],value=pop_sales)

print(f'Test_statistic value is : {round(z_stat,4)}, p-value is : {round(p_value,4)}')

if p_value <= alpha:
    print(f'Final Conclusion: Reject the null hypothesis')
else:
    print(f'Final Conclusion: Do not reject the null hypothesis')

Test_statistic value is : -11.168, p-value is : 0.0
Final Conclusion: Reject the null hypothesis

In [14]:
# Q.4:-
# Converting the order date into datetime foramt.
sales['order_date']=pd.to_datetime(sales['order_date'],format='%d/%m/%Y')
# Aggregating the profits on on sub-category & order date level
grouped_sales=sales.groupby(['sub_category','order_date'])['profit'].sum().unstack().T
# Filtering data for sub-categories Accessories & Art
grouped_sales=grouped_sales[['Accessories','Art']]
grouped_sales.reset_index(inplace=True)
### Filtering data for month of October
grouped_sales=grouped_sales[grouped_sales['order_date'].between('2011-10-01','2011-10-31')]
grouped_sales.sort_values('order_date',ascending=True)
print(grouped_sales.shape)
grouped_sales

(30, 3)

sub_category order_date  Accessories       Art
261          2011-10-01     406.5600       NaN
262          2011-10-02      -0.0895       NaN
263          2011-10-03       1.8078   92.5032
264          2011-10-04     -10.5520   40.0800
265          2011-10-05      64.1770  151.6400
266          2011-10-06     457.0809   11.2500
267          2011-10-07     121.6200   38.6320
268          2011-10-08       4.9878    7.6188
269          2011-10-09          NaN   41.9340
270          2011-10-10     158.1600  118.4460
271          2011-10-11     158.1500 -115.8300
272          2011-10-12          NaN   72.0520
273          2011-10-13      16.9004    4.5636
274          2011-10-14      99.9300   85.8600
275          2011-10-15          NaN   39.6200
276          2011-10-16     152.3056       NaN
277          2011-10-17     -26.2204       NaN
278          2011-10-18          NaN       NaN
279          2011-10-19          NaN    5.3260
280          2011-10-20      94.8328   79.5000
281          2011-10-21          NaN   97.6454
282          2011-10-22          NaN   32.0160
283          2011-10-24          NaN       NaN
284          2011-10-25     210.5297   11.7000
285          2011-10-26    -220.5480   -3.4560
286          2011-10-27     102.9798   35.4600
287          2011-10-28          NaN   12.6060
288          2011-10-29       0.8910       NaN
289          2011-10-30          NaN       NaN
290          2011-10-31      47.8629   69.2920

In [15]:
# Example paired data (before and after treatment)
Accessories = list(grouped_sales['Accessories'].dropna())
print(len(Accessories))
Art = list(grouped_sales['Art'].dropna())
print(len(Art))

20
22

#### Two - tailed two-sample test on the profits from *Accessories* and *Art*
- Here, we are going to test whether the profits from  Accessories and the Art are same or not
- Sample will be pciked for month of Oct 2011.
- Sample 1 is of size 20 where sub-category is Accessories.
- Sample 2 is of size 22 where sub-category is Art.
- Check whether the profits of these two samples are same

**Let us formulate the hypothesis:**
- $H_0$: Average profits of the *Accessories* and *Art* are same
- $H_1$: Average profits of the *Accessories* and *Art* are not same
- This can be written as -
    - $H_0 : \mu_1 = \mu_2$  
    - $H_1 : \mu \ne \mu_2 $

In [16]:
import scipy.stats as stats


# Perform a paired t-test
t_statistic, p_value = stats.ttest_ind(Accessories, Art)

# Set the significance level (alpha)
alpha = 0.05



# Print the t-statistic and p-value
print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Check if the p-value is less than alpha
if p_value < alpha:
    print("Reject the null hypothesis i.e Average profits of the *Accessories* and *Art* are not same")
else:
    print("Fail to Reject the null hypothesis i.e Average profits of the *Accessories* and *Art* are same")

t-statistic: 1.4656766629009628
p-value: 0.15055370184801092
Fail to Reject the null hypothesis i.e Average profits of the *Accessories* and *Art* are same

In [17]:
# Q.5:-
#create a contingency table : 
sales_filter=sales[(sales['category'].isin(['Furniture','Technology'])) & (sales['ship_mode'].isin(['Second Class','Same Day']))] 
obs=pd.crosstab(sales_filter['category'],sales_filter['ship_mode'])
obs

ship_mode   Same Day  Second Class
category
Furniture        493          1901
Technology       508          1975

As we could see that we are supposed to check the association between 2 binary categorical variables we will go ahead with chi-square(2x2) contingency test.

In [18]:
from scipy.stats import chi2_contingency,chisquare

print('Null Hypothesis (H0): There is no relationship between Selected product category and Selected Ship mode. (independent)')
print('Alternative Hypothesis (H1): There is a relatinoship between Selected product category and Selected Ship mode. (dependent)')


chi_sq_Stat, p_value, deg_freedom, exp_freq=chi2_contingency(obs)

print(f'Test_statistic value is : {round(chi_sq_Stat,4)}, p-value is : {round(p_value,4)}')

alpha= 0.05
if p_value < alpha:
    print(f'Final Conclusion: Reject null hypothesis i.e there exists a relationship /association between 2 variables.')
else:
    print(f'Final Conclusion: Do not reject null hypothesis.  i.e there doesnt exists a relationship /association between 2 variables.')

Null Hypothesis (H0): There is no relationship between Selected product category and Selected Ship mode. (independent)
Alternative Hypothesis (H1): There is a relatinoship between Selected product category and Selected Ship mode. (dependent)
Test_statistic value is : 0.0065, p-value is : 0.9359
Final Conclusion: Do not reject null hypothesis.  i.e there doesnt exists a relationship /association between 2 variables.